@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Developer Adda</h1>

        <h3 class="mainSubTitle">Em cheddam antav mari</h3>
    </div>


    <img class="mainImage" src="~/images/italian.png" />
    <br/>

    <a class="btn btn-primary mt-1 " asp-area="" asp-page="checkout/ThankYou">Sarle Thanks chepdam</a>
</div>
